.title {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-image: url('../../assets/logo-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.ant-menu-item {
    padding-left: 24px !important;
}