.title {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-image: url('../../assets/logo-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.ant-breadcrumb-separator {
    visibility: hidden;
}

.ant-menu-item {
    padding-left: 24px !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider {
    background-color: #1d1d1c !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu {
    background-color: #1d1d1c !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: #232121 !important;
}

:where(.css-dev-only-do-not-override-k7429z) a {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a:hover {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a:hover {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a:hover {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected a:hover {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    color: #1d1d1c !important;
    background-color: #514f4f !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider-trigger {
    background-color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu .ant-menu-item .ant-menu-item-icon, :where(.css-dev-only-do-not-override-k7429z).ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    color: #b94537 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: none !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: none !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu .ant-menu-item, :where(.css-dev-only-do-not-override-k7429z).ant-menu .ant-menu-submenu, :where(.css-dev-only-do-not-override-k7429z).ant-menu .ant-menu-submenu-title {
    border-radius: 0 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-inline .ant-menu-item, :where(.css-dev-only-do-not-override-k7429z).ant-menu-vertical .ant-menu-item, :where(.css-dev-only-do-not-override-k7429z).ant-menu-inline .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-k7429z).ant-menu-vertical .ant-menu-submenu-title {
    margin-inline: 0 !important;
    margin-block: 0 !important;
    width: 100% !important;
}